/* static\src\css\meat_processing_styles.css */
.o_button_state_draft {
    display: inline-block;
}
.o_button_state_processing {
    display: inline-block;
}
.o_button_state_done {
    display: none;
}
.o_button_state_cancelled {
    display: none;
}
